<div class="navbar-wagon">
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag "logo.png", id:"logo" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Home", "landing.html", class: 'navbar-links' %>
    <%= link_to "About me", "about.html", class: 'navbar-links' %>
    <%= link_to "Contact", "contact.html", class: 'navbar-links' %>
  </div>
</div>
