#home_page {
  background-color: $baby-powder;
  color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

h1{
  color: black;
  margin-left: 10px;
  font-size: 30px;
  font-weight: 350;
  letter-spacing: 2px;
  margin-left: 0;

}

h2{
  color: $light-gray;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1;
}

p{
  color: $light-gray;
  margin-left: 67px;
  font-size: 13px;
}

#home-information{
    z-index: 100000;
    background: rgba(255,255,255,0.98);
    padding: 1%;
    padding-bottom: 0%;
    padding-top: 25px;
    margin-top: -300px;
    display: block;
}

.row{
  width: 100%;
  max-width: 114rem;
  margin-right: auto;
  margin-left: auto;
}

.column {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  float: left;
  display: flex;
  align-items: center;
  margin-top: -157px;
  background-color: $baby-powder;
  margin-right: 104px;
  margin-left: 106px;
  box-shadow: 1px;
}


#left-info {
    width: 41.66667%;
}

#header-info {
  display: flex;
  align-items: center;
}

.work-section-ports {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.ports {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 50vw;
  height: 75vh;
}

.card:hover{
  opacity: 0.5;
  background-color: black;

}

.ports-text {
  align-items: center;
  justify-content: center;
  margin-left: 38px;
  padding: 18px;
  justify-content: center;
  margin-right: 30px;
}

.work-section-idk{
  display: flex;
}

.idk {
  align-items: center;
  margin: auto;
  width: 50vw;
}
// .overlay {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 100%;
//   width: 100%;
//   opacity: 0;
//   transition: .3s ease;
//   background-color: red;
// }

// .container {
//   position: relative;
//   width: 50vw;
//   height: 70vh;
// }

