
<div class="container">
    <div class="avatar">
       <img src='https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/15317776_10211467989559477_1502911897687087647_n.jpg?_nc_cat=106&_nc_ht=scontent-lht6-1.xx&oh=7e4d661406cc9b3b380406fb91bab66c&oe=5C95FE66' class="avatar-large"/>
    </div>
    <div class="about-text">
      <div class="uni">
        <p>I Studied a BSc in politics and International Relations which used R as their programming language. This is where I first began to love code.</p>
        <p>My university studied culminated in me writing my dissertation, 'A quantitative data analysis of Brexit', where i gained a 1st.</p>
      </div>
      <div class="other-sport">
        <p>When I am not coding I enjoy playing sport and am an ex-england lacrosse player</p>
      </div>
    </div>
</div>
