---
title: Le Wagon - Middleman - About
---


<h1>About Me</h1>
<div class="container">
  <div class="avatar">
    <img src='https://kitt.lewagon.com/placeholder/use rs/arthur-littm' class="avatar-large"/>
  </div>
  <div class="about-text">
    <div class="uni">
      <p>I Studied a BSc in politics and International Relations which used R as their programming language. This is where I first began to love code.</p>
      <p>My university studied culminated in me writing my dissertation, 'A quantitative data analysis of Brexit', where i gained a 1st.</p>
    </div>
    <div class="other-sport">
      <p>When I am not coding I enjoy playing sport and am an ex-england lacrosse player</p>
    </div>
  </div>
</div>
<!--
<div id="about">
  <div class="about-content">
    <h1>This template was built with <i class="fas fa-heart"></i> by</h1>
    <ul class="list-inline">
      <% data.users.each do |user| %>
        <li>
          <% link_to "https://kitt.lewagon.com/alumni/#{user.github_nickname}", target: "_blank" do %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{user.github_nickname}", class: "img-circle" %>
          <% end %>
          <h2><%= user.name %></h2>
          <p>
            <% link_to "https://github.com/#{user.github_nickname}", target: "_blank" do %>
              <i class="fab fa-github"></i> <%= user.github_nickname %>
            <% end %>
          </p>
        </li>
      <% end %>
    </ul>
  </div>
</div> -->
