<h1>Get in touch</h1>
<div class="container">
  <div class="wrapper">
    <div class="contact text">
      <p><strong>Phone:</strong> 07775992957</p>
      <p><strong>LinkedIn:</strong> izzybrown</p>
      <p><strong>Email:</strong> izzybrown@hotmail.co.uk</p>
    </div>
  </div>
</div>
