---
title: Le Wagon - Middleman
---

<div id="home_page">
  <div class="container">
      <div class="home-content">
        <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
        <div class="banner-content">
          <h1>Le Wagon Berlin</h1>
          <p>Learn to code with us in Berlin</p>
          <a class="btn btn-primary btn-lg">Start now</a>
        </div>
    </div>
    <div class="heading">
      <h1>Izzy Brown</h1>
      <h2>"It is probably <%= Time.now.strftime('%l %M %p') %> on <%= Date.today.strftime(' %A') %> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</h2>
    </div>
    <div class="thumbnail">
      <div id="ports">
        <h2>Ports</h2>
        <p>It is probably Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
      </div>
    </div>
    <div class="thumbnail">
      <div id='idk'>
        <h2>IDK.</h2>
        <p>It is probably Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
       </div>
      </div>
    </div>
  </div>
</div>

