
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(230,230,230,0.6) 0%, rgba(230,230,230,0.6) 50%), url('https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1039&q=80');">
  <div class="banner-content">
  </div>
  </div>
  <div class="row home-information">
    <div class="column left-info">
      <div class="header-info">
        <h1>Hello! My name is Izzy Brown. I am a full-stack web developer.</h1>
        <div class="contact-info">
          <h2>Github: izzybrown</h2>
          <h2>Webapp: www.app-idk.com</h2>
          <h2>Application: http://ports-idk.herokuapp.com</h2>
        </div>
      </div>
      <div class="text-info">
        <p>I have just graduated from Le Wagon, a nine week Ruby on Rails coding bootcamp. At the course, asides from Ruby we learnt HTML5, CSS/SASS, Bootstrap, JavaScript, jQuery, SQL, PostgreSQL, MVC architecture, OOP, TDD, git, github and Heroku. Following on from the course, I am now looking for a role as a full-stack web developer.</p>
        <p>During the course we created two separate applications. Our first is called Ports, a yacht chartering application with an infrastruce similar to AirBnb. Where the user can search, rent and 'book' a yacht. As an owner, one could post their yacht to be chartered.</p>
        <p>Our second application is IDK, which we built for indecisive individuals. The webapp generates an activity for the user based on parameters such as location, weather and time, or the user can input their own filters to generate a specifc result based on their needs. The users can create events and follow their friends - so IDK also acts as a social network.</p>
      </div>
    </div>
  </div>
  <div class="card-info">
     <div class="blog-card">
      <div class="meta">
        <div class="photo" style="background-image: url(<%= image_path 'ports.png' %>)"></div>
        <ul class="details">
          <li class="author"><a href="#">IDK</a></li>
          <li class="date">November. 20, 2018</li>
          <li class="tags">
            <ul>
              <li><a href="#">Ruby</a></li>
              <li><a href="#">Ajax</a></li>
              <li><a href="#">Javascript</a></li>
              <li><a href="#">HTML</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Ports</h1>
        <h2>Yacht Chartering Website</h2>
        <p>Ports was the first application that we created. Using Ruby on Rails, HTML5, CSS, JavaScript, PostgreSQL, AJAX, git, github and heroku we created a fully functioning website. For the user aiming to charter a boat, there is the ability to see where all Port's boat are located globally and book through the website. For the user who is chartering their own boat, they have the ability to upload images of their boat and post it to the website. The infrastructure of this website is based of that of AirBnB. .</p>
      </div>
    </div>
    <div class="blog-card alt">
      <div class="meta">
        <div class="photo" style="background-image: url(<%= image_path 'idk.png' %>)"></div>
        <ul class="details">
          <li class="author"><a href="#">IDK</a></li>
          <li class="date">November. 15, 2018</li>
          <li class="tags">
            <ul>
              <li><a href="#">Ruby on Rails</a></li>
              <li><a href="#">Javascript</a></li>
              <li><a href="#">HTML</a></li>
              <li><a href="#">CSS</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>IDK</h1>
        <h2>For the Indecisive Millenial</h2>
        <p>IDK is our final piece application. The app was build using the Rails framework and it was a culmination of all our skills at le wagon</p>
      </div>
    </div>
  </div>
  <div class="skills">
    <div class="skills-circles ruby">Ruby</div>
    <div class="skills-circles javascript">JavaScript</div>
    <div class="skills-circles HTML">HTML</div>
    <div class="skills-circles css">CSS</div>
    <div class="skills-circles rails">Rails</div>
  </div>


<!--   </div>
</div> -->
